:root {
  --shadow: 0 0 30px #a863c1;

  --shadow-max-glow: 0 0 100px #a863c1;
}

#hero {
  min-height: 100vh;
  background-image: url('/tv.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#hero > div {
  perspective: 1000px;
  transform: perspective(1000px);

  position: fixed;
  font-family: 'Autom';
}

#hero > div::before {
  content: '';
  position: absolute;
  top: 105%;
  width: 50%;
  height: 3em;
  background: #a863c1;

  transform: translateX(50%) perspective(1.8em) rotateX(30deg) scale(1, 0.35) translateY(-0.1em);
  filter: blur(2em);
  opacity: 0.5;

  animation: reflect-glow 2s infinite ease-in-out;
}

@keyframes reflect-glow {
  0% {
    filter: blur(2em);
  }

  50% {
    filter: blur(2.5em);
  }

  100% {
    filter: blur(2em);
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5em;
}

.row + .row {
  margin: 0 1.2em;
}

.game {
  flex: 1;
  font-size: 5em;
  font-weight: bold;
  text-align: left;
  letter-spacing: -1px;
}

.jam {
  flex: 0 0 80%;
  font-size: 4em;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.75px;
}

.numbers {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.numbers span {
  font-size: 3em;
  line-height: 0.8em;
  font-weight: bold;
  letter-spacing: -5px;
}

@keyframes pulse-glow {
  0% {
    text-shadow: var(--shadow);
  }
  20% {
    text-shadow: var(--shadow-max-glow);
  }
  100% {
    text-shadow: var(--shadow);
  }
}

.game,
.jam,
.numbers span {
  -webkit-background-clip: text;
  background-clip: text;
  /* color: transparent; */
  animation: pulse-glow 2s infinite ease-in-out;
  text-shadow: var(--shadow);
  
}

@media (min-width: 500px) {
  .row {
    height: 5em;
  }

  .row + .row {
    margin: 0 1.2em;
  }

  .game {
    font-size: 5.5em;
  }

  .jam {
    font-size: 4em;
  }

  .numbers span {
    font-size: 3.5em;
    line-height: 0.8em;
  }

}

@media (min-width: 768px) {
  .row {
    height: 5.5em;
  }

  .row + .row {
    margin: 0 1.2em;
  }

  .game {
    font-size: 6em;
  }

  .jam {
    font-size: 4.5em;
  }

  .numbers span {
    font-size: 4em;
    line-height: 0.8em;
  }
}

@media (min-width: 1024px) {
  .row {
    height: 6em;
  }

  .row + .row {
    margin: 0 1.2em;
  }

  .game {
    font-size: 6.5em;
  }

  .jam {
    font-size: 5em;
    flex: 0 0 75%;
  }

  .numbers span {
    font-size: 4.5em;
    line-height: 0.8em;
  }  
  }
