---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gamejam 2023">
  <main>
    <Title color="text-red-500">Hello World</Title>
  </main>
</Layout>
