---
import AwardItem from './AwardItem.astro';
---

<div
  class="flex flex-col md:flex-row w-full lg:w-5/6 justify-center md:justify-around items-center mt-5 font-retro-numbers"
>
  <AwardItem title="1ยบ Lugar" prize="500" textColor="gold" shadowColor="gold" />
  <AwardItem title="2ยบ Lugar" prize="300" textColor="silver" shadowColor="silver" />
  <AwardItem title="3ยบ Lugar" prize="150" textColor="bronze" shadowColor="bronze" />
</div>
