---
import { Icon } from 'astro-icon';

const currentYear = new Date().getFullYear();
const NEI_WEBSITE_URL = 'https://nei-isep.org';
const LAST_EDITION_URL = 'https://gamejam2022.nei-isep.org/';
---

<footer class="w-full flex items-center justify-center flex-col text-center bg-background">
  <div class="flex justify-center drop-shadow-lg hover:drop-shadow-xl lg:m-8">
    <div class="my-6 w-max transition-all duration-300 hover:scale-105">
      <a href={LAST_EDITION_URL} target="_blank" rel="noreferrer">
        <div
          class="rounded-3xl border-[5px] border-double border-white p-5 font-good__times text-2xl text-white drop-shadow-3xl transition-all duration-300 lg:text-[2.5rem]"
        >
          Edição Anterior
        </div>
      </a>
    </div>
  </div>

  <div class="flex items-center justify-center lg:m-8 z-10">
    <div class="my-4 mx-8 max-h-[200px] max-w-[350px] transition-all duration-300 hover:scale-105">
      <a href={NEI_WEBSITE_URL} target="_blank" rel="noreferrer">
        <img
          class="mx-auto block h-auto max-w-full drop-shadow-3xl transition-all duration-300 hover:drop-shadow-4xl"
          src="/nei-logo.png"
          alt="Logo branco do Núcleo de Estudantes de Informática do ISEP (NEI)"
        />
      </a>
    </div>
  </div>

  <div class="m-8 flex items-center justify-center gap-14 lg:gap-20 z-10">
    <a
      class="text-white fill-white drop-shadow-3xl transition-all duration-300 hover:scale-110 hover:drop-shadow-4xl"
      href="https://www.facebook.com/nei.isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon pack="bi" name="facebook" size={30} />
    </a>
    <a
      class="twitter drop-shadow-3xl transition-all duration-300 hover:scale-110 hover:drop-shadow-4xl"
      href="https://twitter.com/nei_isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon pack="bi" name="twitter" color="white" size={30} />
    </a>
    <a
      class="instagram drop-shadow-3xl transition-all duration-300 hover:scale-110 hover:drop-shadow-4xl"
      href="https://www.instagram.com/nei_isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon pack="bi" name="instagram" color="white" size={30} />
    </a>
    <a
      class="linkedin drop-shadow-3xl transition-all duration-300 hover:scale-110 hover:drop-shadow-4xl"
      href="https://www.linkedin.com/company/nei-isep"
      target="_blank"
      rel="noreferrer"
    >
      <Icon pack="bi" name="linkedin" color="white" size={30} />
    </a>
  </div>

  <h4 class="select-none py-6 text-center font-good__times text-white drop-shadow-3xl z-10">
    Copyright &copy; {currentYear} NEI-ISEP. All rights reserved.
  </h4>
</footer>
