<main class="bg-black min-h-screen">
  <div id="hero">
    <div>
      <div class="row">
        <span class="game">Game</span>
      </div>
      <div class="row">
        <span class="jam">Jam</span>
        <div class="numbers">
          <span>20</span>
          <span>23</span>
        </div>
      </div>
    </div>
  </div>
</main>
