---
import Counter from './Counter';

const targetDate = new Date('2023-08-01T00:00:00+01:00');
---

<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="w-3/4 flex items-center justify-around">
    <img class="w-1/2 max-w-sm cloud" src="/pixel-cloud.png" alt="Cloud Pixel-Art" />
    <img class="w-1/2 max-w-sm cloud" src="/pixel-cloud.png" alt="Cloud Pixel-Art" />
  </div>
  <h1 class="text-lg md:text-3xl lg:text-6xl py-12 uppercase">Coming soon...</h1>
  <div class="w-3/4 mx-auto">
    <Counter client:only targetDate={targetDate} />
  </div>
</div>

<style>
  .cloud {
    animation: cloud 10s linear infinite alternate, cloud-jump 1s ease-in-out infinite alternate;
  }

  @keyframes cloud {
    0% {
      transform: translateX(-15vw);
    }
    100% {
      transform: translateX(15vw);
    }
  }

  @keyframes cloud-jump {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.02;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .cloud {
      animation: none;
    }
  }
</style>
