---
import Counter from './Counter';

const targetDate = new Date('2023-08-01T00:00:00+01:00');
---

<div class="min-h-screen flex flex-col items-center justify-center bg-background">
  <div class="w-3/4 flex items-center justify-center">
    <img class="w-1/2 max-w-sm cloud" src="/pixel-cloud.png" alt="Cloud Pixel-Art" />
    <img class="w-1/2 max-w-sm cloud" src="/pixel-cloud.png" alt="Cloud Pixel-Art" />
  </div>
  <div class="flex flex-row items-center justify-center">
    <h1
      class="text-4xl md:text-6xl lg:text-8xl py-6 uppercase mr-2 md:mr-4"
      style={{ color: 'white', fontFamily: 'Autom' }}
    >
      Coming soon
    </h1>
    <span
      class="animate-bounce-slow text-center text-2xl md:text-4xl text-gray-600 lg:text-8xl mt-3"
      style={{ color: 'white', fontFamily: 'Autom' }}
    >
      .</span
    >
    <span
      class="animate-bounce-delayed-1 text-center text-2xl md:text-4xl text-gray-600 lg:text-8xl mt-3"
      style={{ color: 'white', fontFamily: 'Autom' }}
    >
      .</span
    >
    <span
      class="animate-bounce-delayed-2 text-center text-2xl md:text-4xl text-gray-600 lg:text-8xl mt-3"
      style={{ color: 'white', fontFamily: 'Autom' }}
    >
      .</span
    >
  </div>
  <div class="w-3/4 mx-auto">
    <Counter client:only targetDate={targetDate} />
  </div>
</div>

<style>
  .cloud {
    animation: cloud 10s linear infinite alternate, cloud-jump 1s ease-in-out infinite alternate;
  }

  @keyframes cloud {
    0% {
      transform: translateX(-15vw);
    }
    100% {
      transform: translateX(15vw);
    }
  }

  @keyframes cloud-jump {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.02;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .cloud {
      animation: none;
    }
  }
</style>
