---
import Header from '../components/Header.astro';
import Photos from './Photos';
---

<section
  class="flex items-center justify-center flex-col gap-y-24 text-white font-misterPixel uppercase"
>
  <Header>Fotografias</Header>
  <Photos />
</section>
