<section
  class="flex items-center justify-center flex-col pt-16 text-white font-misterPixel uppercase"
  id="registration-button"
>
  <a
    class="font-black text-2xl md:text-4xl lg:text-7xl text-white drop-shadow-buttonShadow hover:drop-shadow-buttonShadowHover transition duration-100 ease-in-out border-2 px-10 rounded-full border-primary py-6 hover:scale-105"
    href="https://forms.gle/6ZqEnAdpnv5RS3AE6"
    target="_blank"
  >
    Join the Gamejam
  </a>
</section>
