<section class="flex flex-column items-center justify-center font-misterPixel uppercase">
  <a
    class="font-black text-2xl md:text-4xl lg:text-7xl text-primary drop-shadow-whiteStrokeShadow transition duration-150 ease-in-out hover:scale-110"
    href="https://forms.gle/6ZqEnAdpnv5RS3AE6"
    target="_blank"
  >
    Join the Revolution
  </a>
</section>
