<section
  class="flex flex-row items-center justify-center pt-16 text-white font-misterPixel uppercase gap-6 md:gap-12"
  id="registration-button"
>
  <img
    class="h-8 w-8 md:h-16 md:w-16 lg:h-24 lg:w-24 brightness-90"
    src="/sonic-ring.gif"
    alt="Space invaders"
  />
  <a
    class="font-black text-lg md:text-4xl lg:text-6xl text-white drop-shadow-buttonShadow hover:drop-shadow-buttonShadowHover text-center transition duration-100 ease-in-out border-2 px-8 md:px-10 rounded-full border-primary py-6 hover:scale-105"
    href="https://forms.gle/6ZqEnAdpnv5RS3AE6"
    target="_blank"
  >
    Join the Game Jam
  </a>
  <img
    class="h-8 w-8 md:h-16 md:w-16 lg:h-24 lg:w-24 brightness-90"
    src="/sonic-ring.gif"
    alt="Space invaders"
  />
</section>
