---
import ScheduleContent from './ScheduleContent';
---

<section
  class="flex items-center justify-center flex-col gap-y-12 text-white font-misterPixel uppercase"
>
  <h1
    class="font-black text-4xl md:text-6xl lg:text-9xl text-primary drop-shadow-whiteStrokeShadow"
  >
    Horário
  </h1>
  <ScheduleContent client:only />
</section>
