---
import Header from './Header.astro';
import Sponsor from './Sponsor.astro';
---

<section
  class="flex items-center gap-8 justify-center flex-col gap-y-12 text-white font-misterPixel uppercase"
>
  <Header>Patrocinadores</Header>
  <div class="grid grid-cols-4 gap-24 py-4">
    <img src="/pacman.gif" alt="Pacman" />
    <Sponsor />
    <Sponsor />
    <Sponsor />
    <Sponsor />
    <Sponsor />
    <Sponsor />
    <Sponsor />
    <Sponsor />
  </div>
</section>
