<section
  class="relative my-4 w-[95%] md:w-[90%] p-6 lg:p-12 mx-auto bg-background rounded-3xl z-10 flex flex-col justify-around gap-y-24 lg:gap-y-48 mb-48 shadow-intense-shadow md:shadow-intense-shadow-lg"
>
  <slot />
</section>
